.step {
  &_element {
    display: flex;
    align-items: center;
    margin: 0 12.33px 8px 0;
  }
  .point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 12px 0 0;
  }
  .line {
    width: 115.33px;
    height: 1px;
  }
}

.standard {
  color: #83859C;
  .point {
    background-color: var(--neutral-gray-light);
  }
  .line {
    background-color: #C7C8D2;
  }
}

.active {
  color: #2B2B43;
  .point {
    background-color: var(--primary-default);
  }
  .line {
    background-color:  #C7C8D2;
  }
}
.done {
  color: #2B2B43;
  .point {
    background-color: #1ABF70;
  }
  .line {
    background-color:  #1ABF70;
  }
}